.page__aside {
  position: fixed;
  width: 370px;
  height: 100vh;
  left: 0;
  top: 120px;
  background: $secondBackColor;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding-bottom: 140px;

  .search-container {
    padding-bottom: 15px;
    .searchInput {
      width: 250px;
      height: 35px;
      padding: 10px;
      margin-left: 15px;
      margin-top: 20px;
      border: 2px solid grey;
      font-family: $mainFont;
      background-color: white;
      border-radius: 5px;
      font-size: 18px;
    }

    .buttonSearch {
      width: 80px;
      height: 35px;
      font-size: 20px;
      font-family: $mainFont;
      border-radius: 5px;
      background-color: grey;
      color: white;
      cursor: pointer;

      &:hover {
        box-shadow: 0 4px 16px rgb(3, 39, 53);
        transition: all 0.2s ease;
      }
    }
  }

  .favourites-container {
    overflow-y: scroll;

    .favourites {
      & li {
        padding: 15px;
        list-style-type: none;
        text-align: center;
        display: inline-block;
        margin-left: 60px;

        & p {
          font-family: $mainFont;
          font-size: 18px;
          width: 170px;
          height: 50px;
          margin: auto;
        }
      }

      .close {
        cursor: pointer;
        opacity: 0.3;
        padding-left: 10px;
        padding-right: 10px;
      }

      .close:hover {
        opacity: 1;
      }
    }

    .delete-all_container {
      align-items: baseline;
      text-align: center;

      padding-bottom: 20px;

      .delete-all_button {
        width: 160px;
        height: 35px;
        font-size: 16px;
        font-family: $mainFont;
        border-radius: 5px;
        color: white;
        background-color: $mainBackColor;
        cursor: pointer;

        &:hover {
          box-shadow: 0 4px 16px rgb(3, 39, 53);
          transition: all 0.2s ease;
        }
      }
    }
  }
}
