.main-container {
  margin-left: 380px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  & ul li {
    margin: 20px;
    cursor: pointer;
    text-align: center;

    & p {
      margin: auto;
    }
  }
}

.tvShows-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 90vw;
  justify-content: space-around;
}

.show-title {
  text-align: center;
  font-family: $mainFont;
  color: $secondBackColor;
  font-size: 18px;
  text-shadow: rgb(90, 87, 87) 2px 2px;
  width: 150px;
  height: 50px;
}

/* .star {
  color: yellow;
  display: inline-block;
	font-size: 30px;
  text-shadow: 0 0 10px #222,1px 1px  0 #450505;
  position: absolute;
  content:"\2606";
	
} */

/* .starred {
  color: yellow;
  display: inline-block;
	font-size: 30px;
  text-shadow: 0 0 10px #222,1px 1px  0 #450505;
  position: absolute;
  content: "\2605";

} */
/* <span class="starred">&#9733;</span> */

.tvShowSelected {
  background-color: white;
  padding: 10px;

  & p {
    color: red;
    text-shadow: none;
    font-weight: 600;
  }
}
