.main-container {
  display: flex;
  flex-direction: column;
  text-align: center;

  @include forTablet {
    flex-wrap: wrap;
  }

  @include forPc {
    margin-left: 25vw;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  & ul li {
    cursor: pointer;
    margin: 10px;

    @include forPc {
      margin: 20px;
      text-align: center;
    }

    & p {
      margin: auto;
    }
  }
}

.tvShows-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include forTablet {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include forPc {
    max-width: 70vw;
  }
}

.show-title {
  text-align: center;
  font-family: $mainFont;
  color: $secondBackColor;
  font-size: 20px;
  text-shadow: rgb(90, 87, 87) 2px 2px;
  width: 150px;
  height: 50px;
}

.tvShowSelected {
  background-color: white;
  padding: 10px;

  & p {
    color: red;
    text-shadow: none;
    font-weight: 600;
  }
}
