.main-container {
  margin-left: 430px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;

  & ul li{
      margin: 20px;
      cursor: pointer;
  }

}

.tvShows-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 90vw;
    justify-content: space-around;
    
}




.show-title {
  text-align: center;
  font-family: 'Roboto';
  color: whitesmoke;
  font-size: 20px;
  text-shadow: rgb(90, 87, 87) 2px 2px;
  max-width: 200px;
  
  
}


.tvShowSelected{
  background-color: white;
  padding:10px;
  
    & p {
      color: red;
      text-shadow: none;
      font-weight: 600;
      
}
}